@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

body {
	font-family: 'Roboto Slab', serif;
	max-width: 792px;
	margin: 0 auto;
	line-height: 1.2rem;
	color: #DDDDDD;
	background-color: #121213;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.title {
	text-align: center;
  margin:0;
  padding: 0;
}

h1 {
	font-size: 3rem;
	line-height: 1.6rem
}

.game{
    height:70%;
    max-height: 100%;
    width:40%;
    text-align: center;
    margin: auto;
    margin-left:10%;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-overflow: visible;
    background-color: aqua;
    
    padding:0%;
}
.box{
    background-color: pink;

    width: 12%;
    height: 88%;
    max-width: 12%;
    min-height: 88%;
    min-width: 12%;
    max-height: 88%;
    position:relative;
    display:inline-block ;
    text-overflow: visible;
    vertical-align: middle;
    margin-top: 1%;
    margin-left:0.1em;
    text-align: center;
  }
  .game-row{
    background-color: red;
    width: 80%;
    position:relative;
    height:14%;
    margin:auto;
    padding: 0%;
    text-align: center;
    vertical-align:middle;
  }
  
  .submitted-letter{
    font-size: 200%;
    text-align:center;
    vertical-align: middle;
    line-height: 100%;  
    overflow: hidden;
    margin-top: 10%;
  }